/* 历史记录区域的样式 */
.history {
    background-color: #1c1c1c; /* 设置背景颜色 */
    border-radius: 5px; /* 设置圆角 */
    padding: 10px; /* 设置内边距 */
    margin-bottom: 10px; /* 设置底部外边距 */
    overflow-y: auto; /* 设置垂直滚动条 */
    max-height: 150px; /* 设置最大高度 */
  }
  
  /* 历史记录中的文本样式 */
  .history p {
    font-size: 14px; /* 设置字体大小 */
    color: #fff; /* 设置文字颜色 */
    margin: 5px 0; /* 设置上下外边距 */
    text-align: right; /* 文字右对齐 */
  }